body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
     }

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

@media print {
    table {
        float: none !important;
          }

    div {
        float: none !important;
        }

    .page-break {
        page-break-inside: avoid;
        page-break-before: always;
                }

    .dont-print {
        display: none;
                }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 200;
        line-height: 1.0;
                           }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: inherit;
        font-weight: 400;
        line-height: 1.0;
        color: inherit;
        }

    h1 small,
    h2 small,
    h3 small,
    h4 small,
    h5 small,
    h6 small,
    .h1 small,
    .h2 small,
    .h3 small,
    .h4 small,
    .h5 small,
    .h6 small,
    h1 .small,
    h2 .small,
    h3 .small,
    h4 .small,
    h5 .small,
    h6 .small,
    .h1 .small,
    .h2 .small,
    .h3 .small,
    .h4 .small,
    .h5 .small,
    .h6 .small {
        font-weight: normal;
        line-height: 1;
        color: #777;
               }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        }

    h1 small,
    .h1 small,
    h2 small,
    .h2 small,
    h3 small,
    .h3 small,
    h1 .small,
    .h1 .small,
    h2 .small,
    .h2 .small,
    h3 .small,
    .h3 .small {
        font-size: 65%;
               }

    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        margin-top: 2px;
        margin-bottom: 2px;
        }

    h4 small,
    .h4 small,
    h5 small,
    .h5 small,
    h6 small,
    .h6 small,
    h4 .small,
    .h4 .small,
    h5 .small,
    .h5 .small,
    h6 .small,
    .h6 .small {
        font-size: 75%;
               }

    h1,
    .h1 {
        font-size: 35px;
        }

    h2,
    .h2 {
        font-size: 30px;
        }

    h3,
    .h3 {
        font-size: 26px;
        }

    h4,
    .h4 {
        font-size: 20px;
        }

    h5,
    .h5 {
        font-size: 16px;
        }

    h6,
    .h6 {
        font-size: 12px;
        }


    /* my non responsive bootstrap :) - because it's to print uai!'*/
    .container {
        width: 1020px;
        float: none !important;
               }

    .container:before,
    .container:after,
    .panel-body:before,
    .panel-body:after {
        display: table;
        content: " ";
                      }

    .row {
        display: block;
         }

    .panel {
        margin-bottom: 15px;
        background-color: #fff;
        border: 2px solid transparent;
        border-color: #444;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        float: none !important;
           }

    .NumFamilia {
        font-family: inherit;
        font-size: 86px;
        font-weight: bold;
        text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px, rgba(0, 0, 0, 0.3) -1px -2px;
        width: 170px;
        text-align: left;
        vertical-align: top;
                }

