Red.Application/bin/
Red.Application/obj/
Red.Domain/bin/
Red.Domain/obj/
Red.DomainValidator/obj/
Red.Extensions/bin/
Red.Extensions/obj/
Red.DomainValidator/bin/
Red.Ioc/bin/
Red.Ioc/obj/
Red.Library/bin/
Red.Library/obj/
Red.Publish/
Red.Web/bin/
Red.Repository/obj/
Red.Repository/bin/
Red.Web/obj/
v2/Red/.vs/Red/v15/Server/sqlite3/storage.ide-wal
v2/Red/.vs/Red/v15/Server/sqlite3/storage.ide-shm
