@using Red.Application.ViewModel.DTO
@model IEnumerable<DTOEvangelizadorAluno>
@{
    Layout = null;
}
<table class="table table-striped" id="TableAluno">
    <thead>
        <tr>
            <th>Aluno</th>
            <th>Idade</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Aluno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade) Anos   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>
