
@{
    ViewBag.Title = "Erro 500";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="middle-box text-center animated fadeInDown">
    <h1>Erro!</h1>
    <h3 class="font-bold">Erro Interno</h3>

    <div class="error-desc">
        Ocorreu um erro Interno. Tente novamente ou em caso de persistir o problema entre em contato com o Adminsitrador
    </div>
</div>
