@{
    ViewBag.Title = "Home Page";
}
<div class="row">&nbsp;</div>
<div class="jumbotron">
    <h1>Reddington 2.0</h1>
    <p class="lead">Gerenciamento dos Alunos da Moral Cristã.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Alunos</h2>
        <p>
            Cadastro de Dados e Gerenciamento dos Alunos.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Aluno")">Vamos Lá &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Responsáveis</h2>
        <p>Cadastro de Pais e Mães, responsáveis da Criança.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Responsavel")">Vamos Lá &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Turmas e Evangelizadores</h2>
        <p>Cadastro de Evangelizadores.</p>
        <p>Gestão das Turmas. Por Ano.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Evangelizador")">Vamos Lá &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Dados Complementares</h2>
        <p>Gerenciamentro de: </p>
        <ul>
            <li>Caracteristicas</li>
            <li>Problemas de Saúde</li>
            <li>Atividades Preferidas</li>
        </ul>
        do Aluno
    </div>
</div>