<!-- Edição Modal -->
@Html.AntiForgeryToken()
<div id="modalEdicao" class="modal inmodal in" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content animated flipInY">
            <div class="modal-header success-element">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Perfil</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-2"><label id="labelCodigo" for="PerfilId">Código</label></div>
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-7"><input type="text" id="PerfilId" name="PerfilId" value="" readonly="readonly" class="form-control" /></div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-2"><label id="labelNome" for="Nome">Nome</label></div>
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-7"><input type="text" id="Nome" name="Nome" value="" class="form-control" placeholder="Nome" /></div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-2"><label id="labelDescricao" for="Descricao">Descrição</label></div>
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-7"><input type="text" id="Descricao" name="Descricao" value="" class="form-control" placeholder="Descrição" /></div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-2"><label id="labelStatus" for="Status">Situação</label></div>
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-7">
                        <select class="form-control m-b" name="Status" id="Status">
                            <option value="-1">Todos</option>
                            <option value="1">Ativo</option>
                            <option value="0">Inativo</option>
                        </select>
                    </div>
                    <div class="col-md-1">&nbsp;</div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="glyphicon glyphicon-remove"></i>Fechar
                </button>
                <button type="button" class="btn btn-primary" id="Gravar">
                    <i class="glyphicon glyphicon-floppy-disk"></i>Gravar
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
