<!-- Edição Modal -->
@Html.AntiForgeryToken()
@{
    IEnumerable<SelectListItem> statusLista = ViewBag.Status as IEnumerable<SelectListItem>;
    IEnumerable<SelectListItem> responsavelLista = ViewBag.Responsavel as IEnumerable<SelectListItem>;
}
<div id="modalEdicao" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content animated">
            <div class="modal-header success-element">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Aluno</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><label id="labelCodigo" for="Codigo">Código</label></div>
                    <div class="col-md-7"><input type="text" id="Codigo" name="Codigo" value="" readonly="readonly" class="form-control m-b-md" /></div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><label id="labelNome" for="Nome">Nome</label></div>
                    <div class="col-md-7"><input type="text" id="Nome" name="Nome" value="" class="form-control m-b-md" placeholder="Nome do Aluno" /></div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><label id="labelResponsavel" for="Responsavel">Responsável</label></div>
                    <div class="col-md-7">
                        @Html.DropDownList("Responsavel", responsavelLista, new { @id = "Responsavel", @class = "form-control m-b" })
                    </div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><label id="labelDataNascimento" for="DataNascimento">Data de Nascimento</label></div>
                    <div class="col-md-7">
                        <div class="input-group date m-b-md">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input type="text" id="DataNascimento" name="DataNascimento" value="" class="form-control m-b-md" style="width: 150px;" placeholder="Data Nascimento" maxlength="10" data-mask="99/99/9999" />
                        </div>
                    </div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-5">
                        <div class="checkbox checkbox-primary">
                            <input type="checkbox" id="Matriculado" name="Matriculado" value="" />
                            <label id="lablMatriculado" for="Matriculado">Matriculado</label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="checkbox checkbox-primary">
                            <input type="checkbox" id="GrupoDeJovens" name="GrupoDeJovens" value="" />
                            <label id="labelGrupoDeJovens" for="Matriculado">Grupo De Jovens</label>
                        </div>
                    </div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3"><label id="labelStatus" for="Nome">Status</label></div>
                    <div class="col-md-7">
                        @Html.DropDownList("Status", statusLista, new { @id = "Status", @class = "form-control m-b" })
                    </div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="glyphicon glyphicon-remove"></i>Fechar
                </button>
                <button type="button" class="btn btn-primary" id="Gravar">
                    <i class="glyphicon glyphicon-floppy-disk"></i>Gravar
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
