
@{
    ViewBag.Title = "Erro 404 - Não Encontrado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h3 class="font-bold">Página Não Encontrada</h3>

    <div class="error-desc">
        Página ou recurso não encontrada. Tente novamente ou em caso de persistir o problema entre em contato com o Adminsitrador
    </div>
</div>
